body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background:black
}
.totalcontainer {
  position: relative; /* Cambiar a relative */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -3; /* Agregar un z-index para colocar el fondo detrás del contenido */
}
.container1 {
  position: relative; /* Agregar posición relative */
  transform: scaleX(1.11);
  z-index: -2; /* Z-index para colocar este fondo detrás del contenido */
}
.container2 {
  transform: scaleX(1.25);
}
.layer-1 {
  height: 100vh;
  width: 100%;
  background-color: #fed8c1;
 
}

.layer-2 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay2.svg")
    no-repeat center center fixed;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  

  


}
.layer-3 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay3.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;


}
.layer-4 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay4.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;


}
.layer-5 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay5.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s
    both;


}
.layer-6 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay6.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s
    both;


}
.layer-7 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay7.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s
    both;
  

}
.layer-8 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453882/codepen/lay8.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;


}
.laya-please {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0px;
  z-index: -3; /* Agregar un z-index para colocar el fondo detrás del contenido */


}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

    #header {
      background: rgba(0, 0.5, 0, 0.3); /* Utilizamos rgba en lugar de #000 para darle transparencia */
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0.3, 0, 0.3);
    }


   * {
  box-sizing: border-box;
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

.wrapper {
  background: rgba(0, 0.5, 0, 0); /* Utilizamos rgba en lugar de #000 para darle transparencia */
  line-height: 1;
  min-height: 50%;
  display: grid;
  place-items: center;
  min-height: calc(50vh - 26px);
  padding: 50px;
  z-index: 1; /* Agregar un z-index para que .wrapper esté encima de .laya-please */

 
}


h1 {
  font-family: "Exo", sans-serif;
  font-size: 15vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  padding: 1.5rem;
  text-align: center;
  background: radial-gradient(
      circle at 1.4% 1.4%,
      var(--color-1) 0.8%,
      transparent 0.8%
    ),
    radial-gradient(circle at 5.5% 3%, var(--color-2) 0.45%, transparent 0.45%),
    radial-gradient(circle at 2.5% 3.5%, var(--color-3) 0.5%, transparent 0.5%),
    radial-gradient(
      circle at 4.5% 1.2%,
      var(--color-4) 0.25%,
      transparent 0.25%
    ),
    radial-gradient(circle at 98% 98%, var(--color-1) 0.8%, transparent 0.8%),
    radial-gradient(circle at 95% 95%, var(--color-2) 0.45%, transparent 0.45%),
    radial-gradient(
      circle at 94.5% 97.5%,
      var(--color-3) 0.5%,
      transparent 0.5%
    ),
    radial-gradient(
      circle at 98.5% 95.5%,
      var(--color-4) 0.25%,
      transparent 0.25%
    );
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6.5rem;
  }
}

 #chickens-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

}

.chicken {
  border: 1px solid #ffffff;
  border-radius: 90px;
  padding: 10px;
  margin: 10px;
  width: 180px;
  height: 400px;
  text-align: center;
  background: linear-gradient(to bottom, #ff6600, #ff9933); /* Orange gradient for the background */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s; /* Agrega una transición suave para el cambio de tamaño */

}
.chicken:hover {
    transform: scale(1.2); /* Escala el card al 120% cuando el puntero está encima */
  }
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00a9e0; /* Cambia el color a un tono celeste */
  text-transform: uppercase;
  text-align: center; /* Alinea el texto al centro */
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: none; /* Elimina el fondo degradado naranja */
  border: 2px solid #00a9e0; /* Agrega un borde celeste para resaltar el título */
}


.chicken h2 {
  margin-top: 0;
  font-size: 20px;
  color: #ffff00; /* Yellow color for the title */
  margin-bottom: 10px;
}

.chicken img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.chicken p {
  margin: 5px 0;
  color: #ffffff;
}

.chicken button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #ff9933, #ff6600); /* Orange gradient for the select button */
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Rounded button */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.chicken button:hover {
  background: linear-gradient(to bottom, #ff6600, #ff9933); /* Revert the gradient on hover */
}

#selected-chickens {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.chicken-slot {
  border: 1px dashed #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 180px;
  height: 400px;
  text-align: center;
  background: linear-gradient(to bottom, #99ccff, #4dd2ff);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chicken-slot.selected {
  background: linear-gradient(to bottom, #4dd2ff, #1a8cff);
}

#rent-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rent-button button {
  padding: 10px 20px;
  background: #00a9e0; /* Cambia el fondo a un color celeste */
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Rounded button */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

#rent-button button:hover {
  background: #ff9933; /* Cambia el fondo a naranja en hover */
}


.highlight {
  background: linear-gradient(to bottom, #1a8cff, #0052cc);
  color: #ffffff;
  padding: 1px;
  border-radius: 5px;
}

/* Custom styles for the attributes */
.chicken ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chicken li {
  background-color: #ffcc66; /* Yellow background for the list items */
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}
