body{
background-color: #81cee8;
  margin: 0; /* Asegurarse de que no haya márgenes alrededor del body */
  overflow: hidden;
}
#background-animation {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed; /* Establecer como posición fija para que el fondo no se mueva con el contenido */
  top: 0;
  left: 0;
  z-index: -1; /* Colocar el fondo detrás de todo el contenido */
  pointer-events: none; /* Evitar que el fondo afecte la interacción con los elementos de la página */
}
.main_window{
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 1256px;
  height: 624px;
  position: relative;
}
div{
  margin: 0px;
  padding: 0px;
}

.cloud{
  width: 200px;
  height: 50px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute; 
  top:100;
}

[data-type=white_1]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 20px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 80px 0 0 10px #fff, 40px 0 0 20px #fff, 110px 0 0 -5px #fff;  
}

[data-type=white_2]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 20px #fff, 80px -10px 0 10px #fff, 115px -5px 0 -10px #fff;
}

[data-type=white_3]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 15px #fff, 90px 0px 0 15px #fff;
}

[data-type=white_4]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 20px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 80px 0 0 10px #fff, 40px 0 0 20px #fff, 110px 0 0 -5px #fff,
              80px 25px 0 10px #fff, 40px 25px 0 20px #fff, 0 40px 0 -5px #fff;
}

[data-type=white_5]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 20px #fff, 80px -10px 0 10px #fff, 115px -5px 0 -10px #fff,
              20px 30px 0 20px #fff, 70px 30px 0 10px #fff, 105px 40px 0 -10px #fff;
}

[data-type=white_6]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 15px #fff, 90px 0 0 15px #fff,
              20px 30px 0 15px #fff, 80px 40px 0 15px #fff;
}

@-webkit-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@-moz-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@-ms-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@-o-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}


[data-speed="1"]{
  animation: linemove 44.01936s;
  -webkit-animation: linemove 44.01936s;

}
[data-speed="2"]{
  animation: linemove 28.67113s;
  -webkit-animation: linemove 28.67113s;

}
[data-speed="3"]{
  animation: linemove 36.99853s;
  -webkit-animation: linemove 36.99853s;

}
[data-speed="4"]{
  animation: linemove 22.6682s;
  -webkit-animation: linemove 22.6682s;

}
[data-speed="5"]{
  animation: linemove 21.20363s;
  -webkit-animation: linemove 21.20363s;

}
[data-speed="6"]{
  animation: linemove 36.46404s;
  -webkit-animation: linemove 36.46404s;

}
[data-speed="7"]{
  animation: linemove 45.58272s;
  -webkit-animation: linemove 45.58272s;

}
[data-speed="8"]{
  animation: linemove 31.02697s;
  -webkit-animation: linemove 31.02697s;

}
[data-speed="9"]{
  animation: linemove 23.79332s;
  -webkit-animation: linemove 23.79332s;

}
[data-speed="10"]{
  animation: linemove 35.69691s;
  -webkit-animation: linemove 35.69691s;

}
[data-speed="11"]{
  animation: linemove 36.87823s;
  -webkit-animation: linemove 36.87823s;

}
[data-speed="12"]{
  animation: linemove 20.158s;
  -webkit-animation: linemove 20.158s;

}
[data-speed="13"]{
  animation: linemove 17.34752s;
  -webkit-animation: linemove 17.34752s;

}
[data-speed="14"]{
  animation: linemove 22.19251s;
  -webkit-animation: linemove 22.19251s;

}
[data-speed="15"]{
  animation: linemove 25.91683s;
  -webkit-animation: linemove 25.91683s;

}
[data-speed="16"]{
  animation: linemove 17.46605s;
  -webkit-animation: linemove 17.46605s;

}
[data-speed="17"]{
  animation: linemove 22.15188s;
  -webkit-animation: linemove 22.15188s;

}
[data-speed="18"]{
  animation: linemove 27.5939s;
  -webkit-animation: linemove 27.5939s;

}
[data-speed="19"]{
  animation: linemove 40.26929s;
  -webkit-animation: linemove 40.26929s;

}
[data-speed="20"]{
  animation: linemove 12.73873s;
  -webkit-animation: linemove 12.73873s;

}
[data-speed="21"]{
  animation: linemove 11.34359s;
  -webkit-animation: linemove 11.34359s;

}
[data-speed="22"]{
  animation: linemove 24.98947s;
  -webkit-animation: linemove 24.98947s;

}
[data-speed="23"]{
  animation: linemove 43.17049s;
  -webkit-animation: linemove 43.17049s;

}
[data-speed="24"]{
  animation: linemove 28.77146s;
  -webkit-animation: linemove 28.77146s;

}
[data-speed="25"]{
  animation: linemove 19.03643s;
  -webkit-animation: linemove 19.03643s;

}
[data-speed="26"]{
  animation: linemove 44.53789s;
  -webkit-animation: linemove 44.53789s;

}
[data-speed="27"]{
  animation: linemove 26.64436s;
  -webkit-animation: linemove 26.64436s;

}
[data-speed="28"]{
  animation: linemove 41.99245s;
  -webkit-animation: linemove 41.99245s;

}
[data-speed="29"]{
  animation: linemove 18.44574s;
  -webkit-animation: linemove 18.44574s;

}
[data-speed="30"]{
  animation: linemove 19.09319s;
  -webkit-animation: linemove 19.09319s;

}
[data-speed="31"]{
  animation: linemove 34.62887s;
  -webkit-animation: linemove 34.62887s;

}
[data-speed="32"]{
  animation: linemove 33.08773s;
  -webkit-animation: linemove 33.08773s;

}
[data-speed="33"]{
  animation: linemove 10.0134s;
  -webkit-animation: linemove 10.0134s;

}
[data-speed="34"]{
  animation: linemove 39.82966s;
  -webkit-animation: linemove 39.82966s;

}
[data-speed="35"]{
  animation: linemove 36.10109s;
  -webkit-animation: linemove 36.10109s;

}
[data-speed="36"]{
  animation: linemove 47.62616s;
  -webkit-animation: linemove 47.62616s;

}
[data-speed="37"]{
  animation: linemove 39.53287s;
  -webkit-animation: linemove 39.53287s;

}
[data-speed="38"]{
  animation: linemove 21.86695s;
  -webkit-animation: linemove 21.86695s;

}
[data-speed="39"]{
  animation: linemove 48.20212s;
  -webkit-animation: linemove 48.20212s;

}
[data-speed="40"]{
  animation: linemove 26.6844s;
  -webkit-animation: linemove 26.6844s;
}

.cloud{
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  -webkit-animation-delay: -50s;
}
    #header {
      background: rgba(0, 0.5, 0, 0.3); /* Utilizamos rgba en lugar de #000 para darle transparencia */
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0.3, 0, 0.3);
    }
 #progress-container {
      padding: 20px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 20px;
    }

    #progress-container h3 {
      margin-bottom: 10px;
    }

    #refresh-button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    #refresh-button:hover {
      background-color: #45a049;
    }

   * {
  box-sizing: border-box;
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

.wrapper {
  background: rgba(0, 0.5, 0, 0); /* Utilizamos rgba en lugar de #000 para darle transparencia */
  line-height: 1;
  min-height: 50%;
  display: grid;
  place-items: center;
  min-height: calc(50vh - 26px);
  padding: 50px;
 
}


h1 {
  font-family: "Exo", sans-serif;
  font-size: 15vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  padding: 1.5rem;
  text-align: center;
  background: radial-gradient(
      circle at 1.4% 1.4%,
      var(--color-1) 0.8%,
      transparent 0.8%
    ),
    radial-gradient(circle at 5.5% 3%, var(--color-2) 0.45%, transparent 0.45%),
    radial-gradient(circle at 2.5% 3.5%, var(--color-3) 0.5%, transparent 0.5%),
    radial-gradient(
      circle at 4.5% 1.2%,
      var(--color-4) 0.25%,
      transparent 0.25%
    ),
    radial-gradient(circle at 98% 98%, var(--color-1) 0.8%, transparent 0.8%),
    radial-gradient(circle at 95% 95%, var(--color-2) 0.45%, transparent 0.45%),
    radial-gradient(
      circle at 94.5% 97.5%,
      var(--color-3) 0.5%,
      transparent 0.5%
    ),
    radial-gradient(
      circle at 98.5% 95.5%,
      var(--color-4) 0.25%,
      transparent 0.25%
    );
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6.5rem;
  }
}

    #chickens-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
    }

    .chicken {
      border: 1px solid #ffffff;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      width: 180px;
      height: 400px;
      text-align: center;
      background: linear-gradient(to bottom, #4dd2ff, #1a8cff);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .chicken h2 {
      margin-top: 0;
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .chicken img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 10px;
    }

    .chicken p {
      margin: 5px 0;
      color: #ffffff;
    }

    .chicken button {
      padding: 10px 20px;
      background: linear-gradient(to bottom, #1a8cff, #0052cc);
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 14px;
    }

    .chicken button:hover {
      background: linear-gradient(to bottom, #0052cc, #00004d);
    }

    #selected-chickens {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .chicken-slot {
      border: 1px dashed #ffffff;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      width: 180px;
      height: 400px;
      text-align: center;
      background: linear-gradient(to bottom, #99ccff, #4dd2ff);
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .chicken-slot.selected {
      background: linear-gradient(to bottom, #4dd2ff, #1a8cff);
    }

#rent-button button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #ff9933, #ff6600);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

#rent-button button:hover {
  background: linear-gradient(to bottom, #ff6600, #ff9933);
}

    #profitability {
      text-align: center;
      padding: 20px;
    }

    .highlight {
      background: linear-gradient(to bottom, #1a8cff, #0052cc);
      color: #ffffff;
      padding: 5px;
      border-radius: 5px;
    }
